p {
    font-size: 20px;
    font-weight: bold;
    em {
        background: yellow;
        padding: 5px;
        
    }
}

.list 
{
    display: grid;
    // scroll-behavior: smooth;
    // overflow-y: scroll;
    
}

.card
{
    width: auto;
    height: auto;
}