p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.list {
  display: grid;
}
.card {
  width: auto;
  height: auto;
}


/*# sourceMappingURL=https://localhost:8080/assets/visual.css.map*/